fastapi
uvicorn[standard]

sqlalchemy
python-dotenv

google-generativeai

langchain
langchain-community
langchain-text-splitters

faiss-cpu
pypdf

sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu